{% load static %}
<!DOCTYPE html>
<html lang="es">

<body>
    <!-- Cabecera -->
    {% block header %}
        {% include "head.html" %}
    {% endblock %}

    <!-- Cuerpo y Menú -->
    {% block content %}
        <div class="app-main">
            <!-- Menú -->
            <div>{% include "teacher_menu.html" %}</div>

            <!-- Cuerpo -->
            <div class="app-main__outer">
                <!-- Titulo Cuerpo -->
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="fas fa-user-check"></i>
                                </div>
                                <div><h4>Nueva Tutoría Grupal</h4></div>
                            </div>
                        </div>
                    </div>
                    <!-- Fin titulo Cuerpo -->
                    
                    <!-- Formulario -->
                    <form action="/group_tutoring/" method="POST">
                        {% csrf_token %}
                        <p>&nbsp;</p>
                        <button type="submit" class="btn btn-primary">Volver</button>
                        <p>&nbsp;</p>
                    </form>

                    <form action="/save_group_tutoring/" method="POST" onsubmit="return validarCampos()">
                        {% csrf_token %}
                        <input type="hidden" name="txtId" value="{{ id }}">
                        <div class="mb-3">
                            <label class="form-label">Curso *</label>
                            <select class="form-control" id="course" name="cmbCourse" readonly>
                                {% if course != '' %}
                                    <option value="{{ course }}"> {{ course }}</option>
                                {% endif%}
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Semestre *</label>
                            <select class="form-control" id="semester" name="cmbSemester" readonly>
                                {% if semester != '' %}
                                    <option value="{{ semester }}"> {{ semester }}</option>
                                {% endif%}
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Tema Tutoría *</label>
                            <select class="form-control" id="topicIntervention" name="cmbTopicIntervention">
                                {% if selected_topic_intervention != '' %}
                                   <option value="{{ selected_topic_intervention }}"> {{ selected_topic_intervention }}</option>
                                {% endif%} 
                                {% for fila in topic_intervention %}
                                    <option value="{{ fila.0 }}"> {{ fila.0 }}</option>
                                {% endfor %}
                            </select>
                        </div> 

                        <div class="mb-3">
                            <label class="form-label">Fecha Tutoría *</label>
                            {% if tutoring_date != '' %}
                                <input class="form-control" type="date" id="tutoringDate" name="txtTutoringDate" value="{{ tutoring_date }}">
                            {% else %}
                                <input class="form-control" type="date" id="tutoringDate" name="txtTutoringDate" >
                            {% endif%}
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Hora Tutoría *</label>
                            {% if tutoring_hour != '' %}
                                <input class="form-control" type="time" id="tutoringHour" name="txtTutoringHour" value="{{ tutoring_hour }}">
                            {% else %}
                                <input class="form-control" type="time" id="tutoringHour" name="txtTutoringHour" >
                            {% endif%}
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Lugar Tutoría *</label>
                            {% if tutoring_site != '' %}
                                <input class="form-control" type="text" id="tutoringSite" name="txtTutoringSite" value={{ tutoring_site }}>
                            {% else %}
                                <input class="form-control" type="text" id="tutoringSite" name="txtTutoringSite">
                            {% endif%}
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Mensaje *</label>
                            {% if message != '' %}
                                <textarea class="form-control" id="message" name="txtMessage" rows="10">{{ message }}</textarea>
                            {% else %}
                                <textarea class="form-control" id="message" name="txtMessage" rows="10"></textarea>
                            {% endif%}
                        </div>

                        <p>&nbsp;</p>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <p>&nbsp;</p>
        
                    </form>
                    <!-- Fin Formulario-->
                </div>
            </div>
            <!-- Fin Cuerpo-->
        </div>
    {% endblock %}

    <!-- Pie -->
    {% block footer %}
        {% include "foot.html" %}
    {% endblock %}
    
</body>

<!-- JavaScript --> 
{% block javascripts %}

<!--Validar campos del formulario-->
<script src="../static/js/sweetalert2.all.min.js"></script>

<script type="text/javascript">
  
  function validarCampos() {

    // Validación Tema Tutoría
    if(topicIntervention.value == "") {
        Swal.fire({
            icon: 'info',
            text: 'Debe ingresar Tema Tutoría.',
        });
        return false;
    }
    
    // Validación Fecha Tutoría
    if(tutoringDate.value == "") {
        Swal.fire({
            icon: 'info',
            text: 'Debe ingresar Fecha Tutoría.',
        });
        return false;
    }

    // Validación Hora Tutoría
    if(tutoringHour.value == "") {
        Swal.fire({
            icon: 'info',
            text: 'Debe ingresar Hora Tutoría.',
        });
        return false;
    }

    // Validación Lugar Tutoría
    if(tutoringSite.value == "") {
        Swal.fire({
            icon: 'info',
            text: 'Debe ingresar Lugar de Tutoría.',
        });
        return false;
    }

    // Validación de Mensaje de Tutoría
    if(message.value == "") {
        Swal.fire({
            icon: 'info',
            text: 'Debe ingresar el Mensaje de Tutoría.',
        });
        return false;
    } 
  }
</script>

{% endblock javascripts %}
<!-- Fin JavaScript-->

</html>